<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Dungeons and Dragons</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<body>
    <nav th:fragment="navigation">
        <a href="/dnd">Class List</a>
        <a href="/dnd/add">Add</a>
        <a href="/dnd/remove">Remove</a>
        <a href="/user/add">Sign up</a>
    </nav>

</body>
</html>