<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>


<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${dungeons}" class="container my-5">
                <p class="my-5">
                    <a href="/dungeons/create" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add Character</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">Character Creation</h2>
                    <div th:case="*">
                           <table align="right" class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Level</th>
                                <th><a href="/classes">Class</a></th>
                                <th>Health</th>
                                <th>Primary Ability</th>
                                <th>Race</th>
                                <th>Alignment</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dungeon : ${dungeons}">
                                <td th:text="${dungeon.name}"></td>
                                <td th:text="${dungeon.level}"></td>
                                <td><a th:href="@{/classes/description/{id}(id=${dungeon.classes.id})}" th:text="${dungeon.classes.name}"></a></td>
                                <td th:text="${dungeon.classes.hitdice}"></td>
                                <td th:text="${dungeon.classes.ability}"></td>
                                <td th:text="${dungeon.races.name}"></td>
                                <td th:text="${dungeon.alignment.name}"></td>
                                <td><a th:href="@{/dungeons/edit/{id}(id=${dungeon.id})}"
                                       class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a
                                        th:href="@{/dungeons/delete/{id}(id=${dungeon.id})}"
                                        class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>